.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info 
    display: flex
    justify-content: space-between
    align-items: center
    &__offer 
      padding: 4px 9px
      font-size: 10px
      line-height: 13px
      color: $light
      background-color: $primary
      border-radius: 3px
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0
  &-name
    text-transform: uppercase
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-description
    font-size: 12px
    line-height: 15px
    margin-top: 6px
.rating
  max-width: 65px
  min-height: 45px
  background-color: $primary
  border-radius: 4px
  color: $light
  text-align: center
  &__text
    font-size: 8px
    line-height: 10px
    text-align: center
  &__counter  
    font-size: 14px
    line-height: 18px


.stars
  flex-basis: 100%